/* #78cedb */

@import url("https://fonts.googleapis.com/css?family=Lato");

/*----------------------------------------------
General settings
----------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #4a4947;
}

/*----------------------------------------------
Frontpage
----------------------------------------------*/
.bgImg {
  display: grid;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #78cedb;
}
.bgImg svg {
  position: absolute;
  height: 40vh;
  bottom: 1vw;
  left: 1vw;
}

.sign-up-title {
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #aaa;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7;
}

fieldset {
  position: relative;
  margin: 20px auto;
  width: 280px;
  padding: 33px 25px 29px;
  background: white;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border: none;
}
form {
  place-self: center;
}

input {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #384049;
  display: block;
  width: 100%;
  color: white;
  transition: all 0.3s ease;
  color: #aaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: #aaa;
  display: block;
}

input {
  color: #aaa;
  font-size: 13px;
}

input:focus,
textarea:focus,
input:focus,
textarea:focus {
  background: #f7f7f7;
  border: none;
}

input {
  width: 100%;
  height: 35px;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #f7f7f7;
}

:focus {
  outline: none;
}

.signin {
  float: left;
  width: 100%;
  height: 35px;
  border: none;
  margin-top: 10px;
  background: #e2e2e2;
  color: #aaa;
  border-radius: 5px;
}

.signin:hover,
.signin:hover {
  cursor: pointer;
  background-color: rgba(120, 206, 219, 0.7);
  transition: background-color 0.7s;
}

/*----------------------------------------------
Dashboard
----------------------------------------------*/
.info img {
  vertical-align: middle;
  padding: 1em;
  float: right;
}
.info p {
  display: inline-block;
  font-size: 1.5em;
  padding: 1em;
  padding-bottom: 0.7em;
  margin: 0;
}
.menuToggle span {
  font-weight: 700;
}

.info {
  grid-area: side;
  box-shadow: 3px 1px 17px 3px rgba(155, 155, 155, 0.68);
  z-index: 2;
}

.menuToggle {
  grid-area: menuToggle;
  font-size: 1.5em;
  align-self: center;
  padding-left: 1em;
}
.menuToggle img {
  padding-left: 112px;
}
.personInfo {
  grid-area: personinfo;
  text-align: right;
  align-self: center;
  padding-right: 1em;
}
.header {
  display: grid;
  grid-area: topHead;
  grid-template-columns: 260px 1fr 1fr;
  grid-template-areas: "menuToggle . personinfo";
  background-color: white;
  z-index: 5;
}

.header p {
  display: inline-block;
}

.header img {
  vertical-align: middle;
  width: 30px;
}

.content {
  grid-area: fullScreen;
  background-color: #78cedb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40%;
  grid-template-areas:
    "left left middle middle right right"
    "bottomLeft bottomLeft bottomLeft bottomRight bottomRight bottomRight";
}
#bottom-left,
#bottom-right,
#left,
#middle,
#right {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}
#bottom-left {
  grid-area: bottomLeft;
  margin-top: 0;
}

#bottom-right {
  grid-area: bottomRight;
  margin-top: 0;
  margin-left: 0;
}
#left {
  grid-area: left;
}

#middle {
  grid-area: middle;
  margin-left: 0;
  margin-right: 0;
}
#right {
  grid-area: right;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "topHead topHead topHead"
    "side fullScreen fullScreen"
    "side fullScreen fullScreen";
}
.closed {
  grid-template-columns: 0 1fr 1fr;
}

/*   calendar   */
#calendar {
  width: 260px;
  margin: 0 auto;
  color: #555;
  background-color: #78cedb;
}
#calendar h3 {
  padding: 20px;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  cursor: default;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: inline-block;
}

#calendar table {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-spacing: 0;
  border-radius: 0 0 5px 5px;
}

#calendar td {
  width: 25px;
  height: 25px;
  background: #eee;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 6px;
}
#calendar .lastmonth,
#calendar .nextmonth {
  background: #fff;
  color: #999;
}

#calendar img {
  width: 30px;
  vertical-align: middle;
}
/* portraits */

.portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portrait {
  margin: 10px;
  cursor: pointer;
}

/*------------ Modal Content -----------------*/

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.modal-content p {
  font-size: 1.5em;
}

.modal-text {
  align-self: center;
}
.modal-head {
  grid-column: 1/-1;
  background-color: #78cedb;
  padding: 1em;
  padding-left: 2em;
}
.modal img {
  height: 30vh;
  padding: 2em;
}

.portrait svg {
  pointer-events: none;
}

/*-------- The Close Button --------------*/

.close {
  padding: 1.5% 2%;
  color: grey;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* chart */

#clockChart {
  margin-top: 3em;
}
